*{

}
.slider{
    position: relative;
}
.slider img{
    width: 100%;
}
.next, .previous{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: antiquewhite;
    padding: 15px 5px;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
}
.previous{
    left:10px;
    top:50%;

}
.next{
    right:10px;
}